DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
# SQLITE_DB_PATH=db.sqlite3
# POSTGRES_DB=horta
# POSTGRES_USER=horta
# POSTGRES_PASSWORD=change-me
# POSTGRES_HOST=localhost
# POSTGRES_PORT=5432
